/* CSS FOR HOME PAGE */

.home-container {

  margin: 16px;
}

.home-kid {
  font-size: 40px;
}

.home-kid a {
  text-decoration: none;
}

.home-kid a:hover {
  color: #220;
}

@media screen and (max-width: 668px) {

  .home-kid {
    /* margin-top: 32px; */
    font-size: 24px;
  }
}


