/* CSS FOR HOME PAGE */

.home-container {
  display: flex; 
  align-items: center; 
  justify-content: space-around;
  /* margin: 16px; */
  text-align: center;
  height: 96px;

}

.home-kid {
  font-size: 40px;
  /* padding: 16px; */
}

.home-kid a {
  color: #DFA949;
  text-decoration: none;
}

.home-kid a:hover {
  color: #220;
}

.home-border-top {
  background-color: #DFA949;
  height: 8px;
}

.home-eight-hours {

  background-color: #F5EFE6;

}

.home-ingredients-checker {

  background-color: #F4ECE3;

}
@media screen and (max-width: 668px) {

  .home-kid {
    /* margin-top: 32px; */
    font-size: 24px;
  }
}


