

.flex-container-column {
  display: -webkit-flex;
  display: flex;
  webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-container {
  margin: 16px;
  display: -webkit-flex;
  display: flex;
  webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
}

.flex-container-name-status {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


/* CHECKER FORM */
.checker-input-field {
  color: green;
  font-size: 40px;
  margin: 16px;
  width: 40vw;
  text-align: center;
}

.checker-input-form {
}

.checker-input-label {
  font-size: 40px;
}

.ingredients-checker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-name {
  width: 50%;
  margin-left: 16px;
}

#hidden-results-button {
  visibility: hidden;
}

#pasted-ingredients {
  height: 200px;
  width: 500px;
  text-align: center;
  font-size: 24px;
}

table {
  border-spacing: 40px;
}

.found {
  color: red;
  /* width: 16vw; */
}

.not-found {
  color: green;
  /* width: 16vw; */
}

@media screen and (max-width: 668px) {

  .checker-input-field {
    font-size: 24px;
  }
  .checker-input-label {
    font-size: 24px;
  }
  .found {
    font-size: 24px;
  }

  .not-found {
    font-size: 24px;
  }
}


