body {
  /* font-family: "Lucida Console", Monaco, monospace; */

  font-size: 24px;
  font-weight: lighter;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  background-color: #eee;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
}

header {
  letter-spacing: 8px;
  padding: 10px;
  text-align: right;
  opacity: .5;
}

footer {
  padding: 10px;
}

.footer-text {
  font-size: 16px;
  letter-spacing: 8px;
  padding: 10px;
  text-align: center;
  opacity: .7;
}

.banner {
  font-size: 24px;
  letter-spacing: 4px;
  background-color: #fff;
  padding: 20px;
  min-height: 30vh;
  text-align: center;
}

.bday-input {
  font-size: 32px;
}

.banner2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center
  font-size: 24px;
  letter-spacing: 4px;
  background-color: #fff;
  padding: 20px;
  min-height: 20vh;
  text-align: center;
  margin-top: 10px;
}

#bornDisplay {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-content: space-between; */
}
#born {
  padding: 20px;
}
#timeSince {
  padding: 20px;
}

#nowDisplay {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-content: space-between; */
}
#today {
  padding: 20px;
}
#timeNow {
  padding: 20px;
}

#diedDisplay {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-content: space-between; */
}
#died {
  padding: 20px;
}
#timeToGo {
  padding: 20px;
}



/* .diedDisplay { */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: space-around; */
/* } */





h1 {
  font-size: 72px;
  color: #227;
}
