body {
  /* font-family: "Lucida Console", Monaco, monospace; */

  font-size: 24px;
  font-weight: lighter;

    font-family: 'Roboto', sans-serif;
  /* font-family:"Jaldi", "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
  /* font-family: "Courier New", Courier, monospace; */

  /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
  text-align: center;
  background-color: #eee;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
}

header {
  letter-spacing: 8px;
  padding: 10px;
  text-align: right;
  opacity: .5;
}

footer {
  padding: 10px;
}

.footer-text {
  font-size: 16px;
  letter-spacing: 8px;
  padding: 10px;
  text-align: center;
  opacity: .7;
}

.bday-input {
  font-size: 32px;
}

.banner2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #fff;
  padding: 20px;
  min-height: 20vh;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#bornDisplay {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}
#born {
  padding: 20px;
}
#timeSince {
  padding: 20px;
}

#nowDisplay {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}
#today {
  padding: 20px;
}
#timeNow {
  padding: 20px;
}

#diedDisplay {
  max-width: 240px;
  display: flex;
  flex-direction: column;
}
#died {
  padding: 20px;
}
#timeToGo {
  padding: 20px;
}


/* bacground text nonsense */
.flex-container-column {
    display: -webkit-flex;
    display: flex;
    webkit-flex-direction: column;
    flex-direction: column;
}
.inlay-holder {

    min-height: 100px;
    width: 100%;
    position: relative;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    webkit-flex-direction: row;
    flex-direction: row;
}
.plaque,
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}
.plaque {
    font-weight: 200;
    opacity: .1;
    text-transform: uppercase;
    justify-content: center; 
    background-color: #FFF;
    align-items: center; 
}
.plaque-letters {
    padding: 20px;
    opacity: .3;
    font-size: 14.5vw;
    color: #227;
}

.overlay {
    padding: 20px;
    font-weight: 200;
    opacity: .8;
    text-transform: uppercase;
    justify-content: center; 
    align-items: center; 
    z-index: 10;
}

.payam-title {
    font-size: 22px;
    opacity: .7;
    letter-spacing: 17px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 10px;
}

