.App {

  font-size: calc(10px + 2vh);
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vh);
  color: white;
}

.bday-input {
  color: green;
  font-size: calc(10px + 2vh);
  margin: 15px;
  width: 20vw;
  text-align: center;
}
.bday-input-label {
  width: 20vw;
}

.bday-input-form {
  /* font-size: calc(10px + 2vh); */
}


.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* .App-link { */
/*   color: #61dafb; */
/* } */

/* @keyframes App-logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */
