.App {

  font-size: calc(10px + 2vh);
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vh);
  color: white;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 15vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vh);
  color: white;
  background-color: #282c34;
}

.footer > a {
  color: white;
}
/* .App-link { */
/*   color: #61dafb; */
/* } */

/* @keyframes App-logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */
