.App {
  height: 100vh;
  font-size: 32px;
  text-align: left;
  font-family: 'Gotu', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: white;
}


.App-header a {
  color: white;
  text-decoration: none;
  padding: 8px;
}

.header-kids {
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
}

.nav-item-button {
  display: none;
}


.icon {
  background-color: inherit; 
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: calc(16px);
  cursor: pointer; /* Mouse pointer on hover */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 64px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  background-color: #282c34;
}

.footer > a {
  color: white;
}

@media screen and (max-width: 668px) {
  .nav-item {
    display: none;
  }

  .nav-item-button {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
  }

  /* .App-header.responsive {position: relative;} */
  .App-header.responsive button.icon {
    color: red;
  }
}
